<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->

<!--<h1 th:text="${title}">Tv Shows Progresser</h1>-->

<!--<script>-->
    <!--window.fbAsyncInit = function() {-->
        <!--FB.init({-->
            <!--appId      : '133588860742878',-->
            <!--cookie     : true,-->
            <!--xfbml      : true,-->
            <!--version    : '3.0'-->
        <!--});-->

        <!--FB.AppEvents.logPageView();-->

    <!--};-->

    <!--(function(d, s, id){-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) {return;}-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "https://connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->

<!--<fb:login-button-->
        <!--scope="public_profile,email"-->
        <!--onlogin="checkLoginState();">-->
<!--</fb:login-button>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Tv Shows Progresser</h1>
<nav>
    <p sec:authentication="name">Username</p>
    <a th:href="@{/logout}">Logout</a>
</nav>

<h1>Welcome, <span sec:authentication="name">Username</span></h1>
<p sec:authentication="authorities">User authorities</p>
</body>
</html>